@charset "utf-8";

.wrapper .sidebar {
    width: 10%;
    min-height: 10vh;
    position: absolute;
    left: 2rem;
    top: 7rem;
}

.sidebar .sidebar-body {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: space-between;
    grid-template-rows: repeat(2, 1fr);
}

.sidebar-body .section {
    height: 5vh;
    animation: scaleAndOpacity 0.5s 1;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    transition: 0.3s ease;
    box-shadow: var(--box-shadow);
    border-radius: var(--section-border-radius);
    background-color: var(--sidebar-background);
}

.sidebar-body .section:nth-child(2) {
    animation-fill-mode: backwards;
    animation-delay: 0.1s;
}

@keyframes scaleAndOpacity {
    from {
        opacity: 0;
        transform: scale(0);
    }
    75% {
        transform: scale(1.05);
    }
    to {
        opacity: 100%;
        transform: scale(1);
    }
}

.sidebar-body .section:hover {
    box-shadow: none;
    transform: scale(1.05);
}

.sidebar-body .active {
    background-color: var(--color-2);
}

.section a {
    width: 90%;
    height: 100%;
    padding: 0rem 0.5rem;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.sidebar-body .active a {
    color: var(--section-color);
}